<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
  <style>
    .btn-edit {
        background-color: #1f7d27;
        color: #fff;
        border: none;
    }

    .btn-delete {
        background-color: #50050d;
        color: #fff;
        border: none;
    }
    
  </style>
  
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Palestine</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="One page parallax responsive HTML Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Themefisher">
  <meta name="generator" content="Themefisher Bingo HTML Template v1.0">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />

  <!-- CSS
  ================================================== -->
  <!-- Themefisher Icon font -->
  <link rel="stylesheet" href="plugins/themefisher-font/style.css">
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <!-- Lightbox.min css -->
  <link rel="stylesheet" href="plugins/lightbox2/css/lightbox.min.css">
  <!-- animation css -->
  <link rel="stylesheet" href="plugins/animate/animate.css">
  <!-- Slick Carousel -->
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


</head>
<body id="body">

  <!--
  Start Preloader
  ==================================== -->
  <div id="preloader">
    <div class='preloader'>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <!--
  End Preloader
  ==================================== -->

<!--
Fixed Navigation
==================================== -->
<header class="navigation fixed-top">
	<div class="container">
	  <!-- main nav -->
	  <nav class="navbar navbar-expand-lg navbar-light px-0">
		<!-- logo -->
		<a class="navbar-brand logo" href="/">
		  <img loading="lazy" class="logo-white" src="images/logo.png" alt="logo" width="50" height="50" />
		  <img loading="lazy" class="logo-default" src="https://i.pinimg.com/564x/ea/10/42/ea1042321bb4365ca553d890c2417d1b.jpg" alt="logo" width="50" height="50" />
		  
		</a>
		<!-- /logo -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
		  aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
  
		<div class="collapse navbar-collapse" id="navigation">
		  <ul class="navbar-nav ml-auto text-center">
			<li class = "nav-item" id="home">
			  <a class="nav-link" href="#">Homepage</a>
			</li>
			<li class="nav-item" id="about">
				<a class="nav-link" href="#">About Us</a>
			  </li>
			  <li class="nav-item" id="palestine">
				<a class="nav-link" href="#">Palestine</a>
			  </li>
			  <li class="nav-item" id="support">
				<a class="nav-link"  href="#">Support</a>
			  </li>
			  <li class="nav-item" id="login">
				  <a class="nav-link"  href="#">Login</a>
			  </li>
			  <li class="nav-item" id="logout">
				  <a class="nav-link" id="logout-link" href="#">Logout</a>
			  </li>
		  </ul>
		</div>
	  </nav>
	  <!-- /main nav -->
	</div>
  </header>
  <!--
  End Fixed Navigation
  ==================================== -->
<% if (loggedIn == 'true') { 
	%>  

<!-- <section class="single-page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb header-bradcrumb justify-content-center">
          <form action="/createUser" method="get"><button class="btn btn-lg btn-outline-danger" style="color: rgba(139, 88, 88, 0.897); font-weight: bold; font-size: xx-large;" type="submit">View/Edit Users</button></form>

				</ol>
			</div>
		</div>
	</div>
</section> -->

<section class="single-page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb header-bradcrumb justify-content-center">
          <form action="/createUser" method="get"><button class="btn btn-lg btn-outline-danger" style="color: rgba(139, 88, 88, 0.897); font-weight: bold; font-size: xx-large;" type="submit">View/Edit Users</button></form>

				</ol>
			</div>
		</div>
	</div>
</section>

<!-- Start Portfolio Section
		=========================================== -->

		<section class="contact-us" id="contact">
			<div class="container">
				<div class="row justify-content-center">
					<!-- section title -->
					<div class="col-xl-6 col-lg-8">
					   <div class="title text-center">

						   <h2>Existing Requests for Aid</h2>
						   <div class="border"></div>
					   </div>
				   </div>
				   <!-- /section title -->
			   </div>
			</div> <!-- end container -->

      <div class="table-responsive" style="height: 300px; overflow-y: auto;">
        <table class="mx-auto table table-striped" style="width: 75%;">
          <thead>
              <tr>


                <th>FormId</th>




                  <th>First Name</th>

                  <th>Last Name</th>

                  <th>Aid Requested</th>

                  <th>City</th>

                  <th>Phone</th>
              </tr>
          </thead>
          <tbody>
              <% for (let i = 0; i < Requests.length; i++){ %>
                  <tr>
                      <td><%= Requests[i].formId %></td>
                      <td><%= Requests[i].firstName %></td>
                      <td><%= Requests[i].lastName %></td>
                      <td><%= Requests[i].aidType %></td>
                      <td><%= Requests[i].city %></td>
                      <td><%= Requests[i].phone %></td>
                      <td style="text-align: center;"> 
                          <form action="/editReq/<%= Requests[i].formId %>" method="get">
                              <button class="btn-block btn-edit" type="submit">Edit</button>
                          </form>
                      </td>
                      <td style="text-align: center;">
                          <form action="/deleteReq/<%= Requests[i].formId %>" method="POST">
                              <button class="btn-block btn-delete" type="submit">Delete</button>
                          </form>
                      </td>
                  </tr>
              <% } %>
          </tbody>
        </table>
      </div>

		</section> <!-- end section -->
		<footer id="footer" class="bg-one">
			<div class="top-footer">
			  <div class="container">
				<div class="row justify-content-around">
				  <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
					<h3>about</h3>
					<p>The richness of the history and culture of Palestine is still preserved today, this website showcases this beautiful history.</p>
				  </div>
				  <!-- End of .col-sm-3 -->
		  
				  <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
					<ul>
						<li>
						  <h3>Quick Links</h3>
						</li>
						<li><a href="/about">About</a></li>
						<li><a href="/palestine">Palestine</a></li>
						<li><a href="/contact">Contact</a></li>
					  </ul>
				</div>
				  <!-- End of .col-sm-3 -->
		  
				  <div class="col-lg-2 col-md-6 mb-5 mb-md-0">
					<ul>
						<li>
						  <h3>Connect with the IS Department</h3>
						</li>
						<li><a href="https://marriott.byu.edu/infosys/">Marriott School Website</a></li>
						<li><a href="https://marriott.byu.edu/infosys/admissions/bsis/admission-criteria/">Admissions Information</a></li>
						<li><a href="https://ais.byu.edu/">AIS Webpage</a></li>
					  </ul>
				</div>
				  <!-- End of .col-sm-3 -->
		  
				</div>
			  </div> <!-- end container -->
			</div>
			<div class="footer-bottom">
			  <h5>&copy; Copyright 2023. All rights reserved.</h5>
			</div>
		  </footer> <!-- end footer -->
		
		<% } 
                
        else 
        {%>         
          <div class="cotn_principal">
            <div class="align-items-center" style="padding-top: 180px; padding-left: 550px;">
              <div class="content-wrapper full-page-wrapper d-flex">
                <div class="card col-lg-4 mx-auto" style="background-color: rgba(72, 1, 1, 0.897);">
                  <div class="cont_forms px-5 py-5" style="background-color: rgba(139, 88, 88, 0.897);" >
                    <h3 class="card-title text-left mb-3" style="color: black;" >Please Login to see this Page</h3>
                    
                    <form action="/login" method="get">          
                      <div class="text-center" >
                        <button type="submit" class="btn btn-primary btn-block enter-btn">Login</button>
                      </div>
                    </form>
      
                    <br>
                      <form action="/" method="get">
                      <div class="text-center" >
                        <button type="submit" class="btn btn-primary btn-block enter-btn">Return to Home</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- content-wrapper ends -->
            </div>
            <!-- row ends -->
          </div>
          <!-- page-body-wrapper ends -->
        
            
        <% }
   %>
	  


<!-- end Footer Area
========================================== -->
<!-- 
    Essential Scripts
    =====================================-->
<!-- Main jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap4 -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<!-- Parallax -->
<script src="plugins/parallax/jquery.parallax-1.1.3.js"></script>
<!-- lightbox -->
<script src="plugins/lightbox2/js/lightbox.min.js"></script>
<!-- Owl Carousel -->
<script src="plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="plugins/filterizr/jquery.filterizr.min.js"></script>
<!-- Smooth Scroll js -->
<script src="plugins/smooth-scroll/smooth-scroll.min.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU"></script>
<script src="plugins/google-map/gmap.js"></script>

<!-- Custom js -->
<script src="js/script.js"></script>
<script src="/js/triggers.js"></script>

</body>

</html>